# Fichiers source Java
*.java          text diff=java

# Fichiers de configuration Netbeans
*.properties    text
*.mf            text
*.xml           text

# Autres fichiers
*.md            text

# Images 
*.png           binary diff=exif
*.jpg           binary diff=exif

# Exclut ces fichiers de l'export
.gitattributes  export-ignore
.gitignore      export-ignore
